.add-image-content-container {
    padding: 10px 12px;
}

.add-image-content-row {
    display: flex;
    justify-content: space-between;
    min-height: 50px;
    align-items: center;
}

.add-image-content-row:not(:last-child) {
    margin-bottom: 10px;
}

/*.slide-background-content-file-input {*/
/*    display: none;*/
/*}*/

/*.slide-background-content-url-input {*/
/*    width: 125px;*/
/*}*/