.contentContainer {
    padding: 10px 12px;
}

.contentRow {
    display: flex;
    justify-content: space-between;
    min-height: 50px;
    align-items: center;
}

.contentRow:not(:last-child) {
    margin-bottom: 10px;
}

.contentFileInput {
    display: none;
}

.contentUrlInput {
    width: 125px;
}