
.element {
    position: absolute;
}

.element:focus {
    outline: none;
}

.element_selected {
    outline: 2px solid #2a9df4;
}

.resize-handle {
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #2a9df4;
}

.resize-handle-tl {
    top: -6px;
    left: -6px;
}

.resize-handle-tr {
    top: -6px;
    right: -6px;
}

.resize-handle-bl {
    bottom: -6px;
    left: -6px;
}
.resize-handle-br {
    bottom: -6px;
    right: -6px;
}

.resize-handle-ts {
    top: -6px;
    left: calc(50% - 6px);
}

.resize-handle-rs {
    right: -6px;
    top: calc(50% - 6px);
}

.resize-handle-bs {
    bottom: -6px;
    left: calc(50% - 6px);
}

.resize-handle-ls {
    top: calc(50% - 6px);
    left: -6px;
}

.resize-handle-tl:hover,
.resize-handle-br:hover {
    cursor: se-resize;
}

.resize-handle-tr:hover,
.resize-handle-bl:hover {
    cursor: ne-resize;
}

.resize-handle-ts:hover,
.resize-handle-bs:hover {
    cursor: n-resize;
}

.resize-handle-rs:hover,
.resize-handle-ls:hover {
    cursor: e-resize;
}