
.workspace {
    width: 100%;
    background-color: #f8f9fa;
    overflow: hidden;
    position: relative;
}

.workspace_insertion:hover {
    cursor: crosshair;
}

.slide-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}