
.workspace {
    width: 100%;
    background-color: #f8f9fa;
    overflow: hidden;
    position: relative;
}

.workspace_insertion:hover {
    cursor: crosshair;
}

.insertion-area {
    position: absolute;
    border: 1px dashed #1a73e8;
    z-index: 2;
}

.slide-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}