.workspace {
    width: 100%;
    background-color: #f8f9fa;
    overflow: hidden;
    position: relative;
}

.workspaceInsertion:hover {
    cursor: crosshair;
}

.insertionArea {
    position: absolute;
    border: 1px dashed #1a73e8;
    z-index: 2;
}

.slideContainer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}