
.element {
    position: absolute;
}

.element:hover {
    cursor: crosshair;
}

.element:focus {
    outline: none;
}

.elementSelected {
    outline: 2px solid #2a9df4;
}

.resizeHandle {
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #2a9df4;
}

.resizeHandleTl {
    top: -6px;
    left: -6px;
}

.resizeHandleTr {
    top: -6px;
    right: -6px;
}

.resizeHandleBl {
    bottom: -6px;
    left: -6px;
}
.resizeHandleBr {
    bottom: -6px;
    right: -6px;
}

.resizeHandleTs {
    top: -6px;
    left: calc(50% - 6px);
}

.resizeHandleRs {
    right: -6px;
    top: calc(50% - 6px);
}

.resizeHandleBs {
    bottom: -6px;
    left: calc(50% - 6px);
}

.resizeHandleLs {
    top: calc(50% - 6px);
    left: -6px;
}

.resizeHandleTl:hover,
.resizeHandleBr:hover {
    cursor: se-resize;
}

.resizeHandleTr:hover,
.resizeHandleBl:hover {
    cursor: ne-resize;
}

.resizeHandleTs:hover,
.resizeHandleBs:hover {
    cursor: n-resize;
}

.resizeHandleRs:hover,
.resizeHandleLs:hover {
    cursor: e-resize;
}