.preview-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    background: black;
}

.preview-slide-container {
    width: 760px;
    height: 430px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease-out;
}