.standard-button {
    width: 75px;
    height: 25px;
    background: none;
    border-radius: 5px;
    border: 1px solid #000;
    transition: all 0.2s ease;
}

.standard-button:disabled {
    border: 1px solid gray;
    color: gray;
}

.standard-button:hover:not(:disabled) {
    background: #dcdcdc;
    cursor: pointer;
}

/* .standard-button:hover:not(:active) {
    background: none;
} */

.standard-button:focus {
    border-radius: 5px;
    outline: none;
    border: 3px solid #87CEFA;
}



