.side-bar {
    border-right: 1px solid #d9d9d9;
    width: 220px;
    min-width: 220px;
    height: calc(100vh - 100px);
    overflow-y: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}

.sidebar-item:hover {
    cursor: pointer;
    text-decoration: underline;
}

.sidebar-item {
    text-align: center;
    height: 100px;
    min-height: 100px;
    border: 1px solid black;
    border-radius: 3px;
    margin-top: 10px;
}