.list-container {
    min-width: 100px;
    display: flex;
    flex-direction: column;
    background: #fff;
    border: 1px solid #000;
    border-radius: 4px;
}

.list-item {
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 9px;
}

.list-item:not(:last-child) {
    border-bottom: 1px solid black;
}

.list-item:hover {
    cursor: pointer;
    background: #eed8d8;
}

.item-block-image {
    height: 20px;
    width: 20px;
    margin-right: 5px;
}

.item-image {
    width: 100%;
}