
.button-with-popover {
    height: 25px;
    padding: 2px 8px;
    background: none;
    border: 1px transparent;
    border-radius: 5px;
    display: flex;
    align-items: center;
    transition: all 0.2s ease;
}

.button-with-popover:hover:not(:disabled),
.button-with-popover:hover:not(:focus) {
    background: #F2F2F2;
    cursor: pointer;
}

.button-with-popover:focus {
    outline: none;
}

.popover-container {
    position: absolute;
    z-index: 1;
}