.standardButton {
    height: 25px;
    padding: 2px 8px;
    background: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    transition: all 0.2s ease;
}

.standardButtonNormal {
    border: 1px solid #000;
}

.standardButtonBorderNone {
    border: 1px solid transparent;
}

.standardButton:disabled {
    border: 1px solid gray;
    color: gray;
}

.standardButton:hover:not(:disabled),
.standardButton:hover:not(:focus) {
    background: #F2F2F2;
    cursor: pointer;
}

/* .standard-button:hover:not(:active) {
    background: none;
} */

.standardButton:focus {
    border-radius: 5px;
    outline: none;
    border: 1px solid transparent;
    /*box-shadow: 0 0 0 2px #87CEFA;*/
}

.buttonImage {
    height: 100%;
    width: auto;
}
