input[type="color" i]::-webkit-color-swatch-wrapper {
    padding: 0;
}

.colorPickerContainer {
    display: flex;
    flex-direction: column;
    max-height: 40px;
    align-items: center;
    justify-content: center;
}

.colorPickerContainer:hover {
    cursor: pointer;
}

.colorPickerButton {

}

.colorPickerButton:hover {
    box-shadow: none;
    background: none;
}

.colorPicker {
    width: 25px;
    height: 5px;
    padding: 0;
    border: none;
}