.standard-button {
    height: 25px;
    padding: 2px 8px;
    background: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    transition: all 0.2s ease;
}

.standard-button_normal {
    border: 1px solid #000;
}

.standard-button_border-none {
    border: 1px solid transparent;
}

.standard-button:disabled {
    border: 1px solid gray;
    color: gray;
}

.standard-button:hover:not(:disabled),
.standard-button:hover:not(:focus) {
    background: #F2F2F2;
    cursor: pointer;
}

/* .standard-button:hover:not(:active) {
    background: none;
} */

.standard-button:focus {
    border-radius: 5px;
    outline: none;
    border: 1px solid transparent;
    /*box-shadow: 0 0 0 2px #87CEFA;*/
}

.button-image {
    height: 100%;
    width: auto;
}
