
.switcher-container {
    display: flex;
    align-items: center;
    height: 26px;
    border: 1px solid #000;
    border-radius: 5px;
}

.input-size {
    width: 35px;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid #000;
    border-top: none;
    border-bottom: none;
}

.switch-button {
    width: 35px;
    height: 100%;
    background: none;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.switch-image-button {
    width: 20px;
}

.switch-button:hover {
    background: #F2F2F2;
    cursor: pointer;
}