.popupLayer {
    width: 100vw;
    height: 100vh;
}

.popupContainer {
    position: absolute;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    min-width: 400px;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border-radius: 5px;
}

.popupTitle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.popupHeader {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: #e5dbdb;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px 10px;
    box-sizing: border-box;
}

.popupFooter {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #e5dbdb;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px 10px;
    box-sizing: border-box;
}